body{
    background-color: #2B2B2B;
}

.title{
    padding:5%;
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: bold;
    color:#D3D3D3;
}
.note{
    line-height: 1.4;
    font-size: 1rem;
    padding: 5%;
}
.dark{
    font-weight: bold;
}
.content{
    line-height: 1.4;
    font-size: 1rem;
    padding: 5%;
    color: #D3D3D3;
}
.dark2{
    font-weight: bold;
}
form{
    text-align: center;
    font-size: 30px;
}
input{
    width: 250px;
    height: 40px;
    font-size: 30px;
}

.username{
    margin: 0 5%;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #191919;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    position: relative;
}
.subtitle{
    padding:5%;
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: bold;
    color:#D3D3D3;
}

input[type=text]{
    padding-left: 16px;
    float: left;
    vertical-align: middle;
    box-shadow: none;
    color:#707070;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

input[type=text]:focus{
    border-color:#ff954f;
    box-shadow: 0 0 8px 0 #ff954f;
}

.email {
    margin: 0 5%;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #191919;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    position: relative;
}

input[type=password]{
    padding-left: 16px;
    float: left;
    vertical-align: middle;
    box-shadow: none;
    color:#707070;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

input[type=password]:focus{
    border-color:#ff954f;
    box-shadow: 0 0 8px 0 #ff954f;
}

.sub{
    margin-left: 0;
    padding-left: 1.6%;
}
input[type=submit]{
    width:114px;
    background-color: #2B2B2B;
    border-radius: 6px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}