body{
    background-color:  #2B2B2B;
}
.arrow{
    
    padding:20px 20px 20px 10px;
}
.picture{
    padding:0px 10px 1px 8px;
}
.title{
    color: #dee1e5;
    padding:2px 10px 10px 35px;
    font-size: 1.4rem;
    font-weight: 700;
}
.time{
    color: #dee1e5;
    padding:5px 20px 6px 120px;
    font-size: 0.2rem;
}
.place{
    color: #dee1e5;
    font-size: 0.2rem;
    padding:0px 60px 6px 231px;
}
.organization{
    color: #dee1e5;
    padding:0px 60px 6px 147px;
    font-size: 0.2rem;
}
.content{
    color: #dee1e5;
    padding:0px 20px 6px 20px;
}

.info{
   margin: 4% 9rem 1% 1rem; 
}
.name{
    height: 20%;
    margin: 3% 1rem 1% 0rem;
    border-radius: 10px;
    
    font-size: 1rem;
    font-weight: 700;
}
.email{
    height: 20%;
    margin: -25% 1rem -10% 0rem;
    border-radius: 10px;
    
    font-size: 1rem;
    font-weight: 700;
}

.submit{
    margin: 20% 1rem 0% 0rem;
    height: 25%; 
    color: #dee1e5;
    border-radius: 10px; 
    font-size: 1.5rem;
    font-weight: 300;
}

.updown{
    margin: 7% 0rem 0% 0rem;
}

